/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require  bootstrap
 */
 body{
  background-image: url(sign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
 div.potin{
    margin: auto;
    padding: auto;
  }

  #potins{
    color:#ee7614 ;
    font-family: Alyanda ;
    font-size: 05px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.nbr_count {
  position: absolute;
  top: 0px;
  left: 95%;
  color: rgb(255, 0, 0);
}

 body{
  background-image: url(sign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}